# Це коментар у .gitignore файлі

# Ігнорувати всі файли з розширенням .log
*.log

# Ігнорувати всі файли в каталозі "temp/"
temp/*

# Ігнорувати конкретний файл "config.ini"
config.ini

# Ігнорувати всі файли та каталоги, які починаються з "temp_"
temp_*

# Ігнорувати всі файли та каталоги в кореневому каталозі "ignore-me/"
/ignore-me/

# Ігнорувати всі файли та каталоги, що мають слово "backup" в назві
*backup*

# Ігнорувати файли та каталоги підкаталогу "logs/" будь-де в проекті
**/logs/

# Ігнорувати файли з певним іменем у всіх каталогах
*/example-file.txt

# Ігнорувати файли з певним іменем у конкретному каталозі
specific-folder/example-file.txt
